#head, header {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 5px;
    }

#body, main {
    background-color: beige;
    margin: 5px;
}

.tummatila {
    background-color: rgb(70, 70, 59);
    color: white;
}


.huonoartikkeli {
    display: inline-block;
    background-color: rgb(96, 96, 96);
    border: 4px solid navy;
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
}

.tummahuonoartikkeli {
    display: inline-block;
    background-color: rgb(12, 12, 12);
    border: 4px solid rgb(0, 0, 58);
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
}

.hyvaartikkeli {
    display: inline-block;
    background-color: rgb(164, 164, 164);
    border: 4px solid navy;
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
}

.tummahyvaartikkeli {
    display: inline-block;
    background-color: rgb(87, 87, 87);
    border: 4px solid rgb(0, 0, 58);
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
}

.uutisotsikko {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.uutisteksti {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}