#head, header {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    }

html {
        height: 100%;
}

#body, main {
    background-color: beige;
    margin: 0px;
    min-height: 100%;
}

.tummatila {
    background-color: rgb(70, 70, 59);
    color: white;
}

.tummatila header, .tummatila main, .tummatila #body, .tummatila head, .tummatila html {
    background-color: rgb(70, 70, 59);
}

.artikkeli {
    display: inline-block;
    background-color: rgb(164, 164, 164);
    border: 4px solid navy;
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
    margin: 10px auto;
    float: none;
}

.tummatila .artikkeli {
    display: inline-block;
    background-color: rgb(87, 87, 87);
    border: 4px solid rgb(0, 0, 58);
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
}

.uutisotsikko {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.uutisteksti {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}