#head {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    }

nav {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
}

html {
        height: 100%;
}

header {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    display: flex;
    gap: 10px   ;
    }

#body {
        background-color: beige;
        margin: 0px;
        min-height: 100%;
}
    
main {
        margin: 0px;
        min-height: 100%;
        background-color: inherit;
}
    

.tummatila {
    background-color: rgb(70, 70, 59);
    color: white;
}

.tummatila header, .tummatila main, .tummatila #body, .tummatila head, .tummatila html, .tummatila nav, .tummatila .tabactive {
    background-color: rgb(70, 70, 59);
}

.artikkeli {
    display: inline-block;
    background-color: rgb(164, 164, 164);
    border: 4px solid navy;
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
    margin: 10px auto;
    float: none;
}

.tummatila .artikkeli {
    display: inline-block;
    background-color: rgb(87, 87, 87);
    border: 4px solid rgb(0, 0, 58);
    border-radius: 5px;
    padding: 5px;
    max-width: 750px;
}

.uutisotsikko {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.uutisteksti {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

#tummatilanappi {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
}

#pääsivu, #jokusivu {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
}

.tabactive {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: beige;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.tab {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: rgb(70, 70, 59);
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.tummatila .tab {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: beige;
    border-radius: 6px 6px 0 0; 
    border-bottom: none;
}

a {
    color: blue;
}

.tummatila a {
    color: aqua;
}

.easter_egg {
    color: beige;
}

.tummatila .easter_egg {
    color: rgb(70, 70, 59);
}