head {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    }

nav {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    gap: 10px;
}

h1 {
    padding: 10px;
}

form {
    padding: 10px;
}

html {
        height: 100%;
}

header {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    display: flex;
    gap: 10px;
    }

body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    min-height: 100%;
    margin: 10px;
}
    
main {
        margin: 0px;
        min-height: 100%;
        background-color: inherit;
}
    
.tabactive {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: beige;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.tab {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: rgb(70, 70, 59);
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

a {
    color: blue;
}

.NAPPI {
    margin-left: auto;
}

#salasana {
    margin-left: 1040px ;
}

.tabactivekirjaudu {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: beige;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.tabkirjaudu {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: rgb(70, 70, 59);
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.tummatila {
    background-color: rgb(70, 70, 59);
    color: white;
}

.tummatila header, .tummatila main, .tummatila body, .tummatila head, .tummatila html, .tummatila nav, .tummatila .tabactive, .tummatila h1, .tummatila form {
    background-color: rgb(70, 70, 59);
}

.tummatila .tab, .tummatila .tabkirjaudu {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: beige;
    border-radius: 6px 6px 0 0; 
    border-bottom: none;
}

.tummatila .tabactivekirjaudu {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: rgb(70, 70, 59);
    border-radius: 6px 6px 0 0; 
    border-bottom: none;
}

#tummatilanappi {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
}