head {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    }

nav {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
}

html {
        height: 100%;
}

header {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 10px;
    display: flex;
    gap: 10px   ;
    }

body {
        background-color: beige;
        margin: 10px;
        min-height: 100%;
}
    
main {
        margin: 0px;
        min-height: 100%;
        background-color: inherit;
}
    
.tabactive {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: beige;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.tab {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 10px;
    background-color: rgb(70, 70, 59);
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    margin-right: auto;
}

a {
    color: blue;
}

.NAPPI {
    margin-left: auto;
}

#salasana {
    margin-left: 1040px ;
}